.LoginFont{
    font-family: 'a_Grotic', arial, serif;
    color: white;
}

.LabelSize{
    font-size: 20px;
}

.PlaceholderSize{
    font-size: 20px;
}

.HeaderSize{
    font-size: 20px;
}

.BtnFont{
    font-family: 'a_Grotic', arial, serif;
    font-size: 20px;
}





